*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;

}

.nav{
    width: 100%;
    height: 44px;
background-color: #333333FF;

.nav_center{

margin: 0 auto;
width: 980px;
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 10px;
gap: 10px;
    img{
        width: 20px;
        height: 20px;
        filter: invert(100%);
    }
    a{
        text-decoration: none;
        color: #F5F5F7;
        font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        font-size: 12px;
    }

}





}



.content{
    width: 1418px;
    margin: 0 auto;
    // border: 2px solid red;




    .area_1{
    width: 980px;
    height: 82px;
    margin: 0 auto;
    margin-top: 20px;   
    display: flex;
    align-items: center;
border-radius: 10px;
padding-left: 25px;
padding-right: 25px;
background-color: #F5F5F7FF;
gap: 20px;
    .area_text_1{
    width:196px;
    line-height: 1;


h2{
    font-size: 14px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
}

#okno_btn{
    border: 0;
    a{
        text-decoration: none;
        font-size: 14px;
        
        font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        font-weight: 500;
        color: #06c;
    }
}
    }

    .area_text_2{
        display: flex;
        line-height: 1.5;
gap: 10px;
        img{
            width: 24px;
            height: 24px;
            gap: 10px;
        }

        h3{
            font-size: 12px;
            font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
            font-weight: 400;
        }
    }

    .area_text_3{
        display: flex;
        gap: 10px;
        line-height: 1.5;
        img{
            width: 36px;
            height: 24px;
            
        }
        h3{
            font-size: 12px;
            font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
            font-weight: 400;
        }
    }
    .area_text_4{
display: flex;
gap: 10px;
line-height: 1.5;
        img{
            
            width: 24px;
            height: 24px;
            
        }
        h3{
            font-size: 12px;
            font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
            font-weight: 400;
        }
    }
    .area_text_5{
        display: flex;
        gap: 10px;
        line-height: 1.5;
        img{
            width: 24px;
            height: 24px;
            
        }
        h3{
            font-size: 12px;
            font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
            font-weight: 400;
        }
    }







    }

    .area_2{
    width: 100%;
    height: 120px;
    margin-top: 60px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    

        

}

.new_14{
p{
    color: #bf4800;
    font-size: 17px;
    font-weight: 400;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.47059;
}


h1{
font-size: 48px;
font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
font-weight: 600;
color: #1d1d1f;
line-height: 1.47059;
}

a{
font-size: 12px;
font-weight: 400;
letter-spacing: -.016em;
line-height: 1.42859;
font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-decoration: none;
    color:#888889FF ;
}



}

.get-40{
    border-radius: 18px;
    width: 200px;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #F5F5F7FF;
    p{
    font-size: 12px;
    font-weight: 400;
    text-align:center;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: flex;
    color: #1d1d1f;
    }
}


.get3{
    
    border-radius: 18px;
    width: 250px;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 15px;

    background-color: #F5F5F7FF;
    p{
    font-size: 12px;
    font-weight: 400;
    text-align:center;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: flex;
    color: #1d1d1f;
    }
}






}


.content_2{

    width: 1418px;
    height: 50vh;
    display: flex;
    margin: 0 auto;


    .column_left{
    top: 120px;
    margin-top: 20px;
    position: sticky;
    width: 1010px;
    height: 515px;
    // border: 2px solid red;
border-radius: 20px;
background-color: #F5F5F7FF;
img{
width: 995px;
height: 500px;
margin: 0 auto;

}


    }



.text{
    display: flex;
    align-items: center;
    p{
        font-size: 22px;
        font-weight: 600;
        font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    h2{
        font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
}













    .column_right{
    width: 328px;
    height: 1369px;
    margin-left: 80px;
    margin-top: 20px;
    display: block;
overflow: hidden;
padding-top: 170px;
    }

.model{
display: flex;
align-items: center;
margin-bottom: 20px;
h1{
   font-size: 24px;
   font-weight: 600;
   font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
p{
    font-size: 22px;
    font-weight: 600;
    color: #86868b;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif; 
}

}


.ipro_14{
    width: 100%;
    height: 90px;
    margin-bottom: 20px;
    border: 1px solid rgb(150, 149, 149);
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;

    justify-content: space-between;
    .ipro_14_text{
h1{
    color: #1d1d1f;
    font-size: 15px;
    line-height: 1.23536;
    font-weight: 600;
    padding-bottom: 8px;
    letter-spacing: -.022em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica
}
h2{
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
    }

    p{
    font-size: 12px;
       text-align: right; 
    }
}






}


.color_select{
    display: flex;
    align-items: center;
    
    gap: 20px;
}



.deep_border{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
}

.deep_border:hover{
    border: 2px solid rgb(124, 124, 124);  
    
}


    .deep {
        width: 32px;
        height: 32px;
        background: url(../img/purple.jfif);
        background-size: cover;
        border-radius: 30px;
    }


.gold{
    width: 32px;
    height: 32px;
    background: url(../img/gold.jfif);
    background-size: cover;
    border-radius: 30px;
}


.white{
    width: 32px;
    height: 32px;
    background: url(../img/white.jfif);
    background-size: cover;
    border-radius: 30px;
} 
.black{
    width: 32px;
    height: 32px;
    background: url(../img/black.jfif);
    background-size: cover;
    border-radius: 30px;
}






.modal {
    width: 100%;
    height: 100%;
    /* filter:blur(-100%); */
    margin: 0 auto;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(50,50,50,.88);
  top: 0;
  transition-timing-function: ease-in-out;
  backface-visibility: visible;
  position: fixed;
  box-sizing: border-box;
  align-items: flex-start;
  overflow: auto;
padding-top: 80px;
  }
  


.close_1{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-left: 20px;
    cursor: pointer;
background-color: #E8E8EDFF;
}



  .close{

    font-family: 'Material Icons';
    font-size: 25px;
    
    color: #6E6E73FF;
    
    font-weight: 600;
   
  }
  
  .modal_content{
  padding-top: 20px;
  width: 816px;
  height: 1610px;
  margin: 0 auto;
  position: sticky;
  filter:opacity(100%);
  background-color:#fff ;

  margin: 0 auto;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  
  
  
  
  .top_modal{
  display: flex;
  align-items: center;
  justify-content: center;
    font-size: 40px;
    line-height: 2.1;
    font-weight: 600;
    letter-spacing: 0;
    color: #1d1d1f;
  }


  .take{
    font-size: 17px;
    line-height: 1.7;
    text-align: center;
    font-weight: 400;
    letter-spacing: -.012em;
    padding-left: 60px;
    padding-right:60px;
}

.take a{
text-decoration: 0;
color: #06c;

}


.modal_logos{
    width: 100%;
    
    gap: 40px;
    display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
padding-top: 30px;

.att_1{
    width: 100px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color:#000000FF ;
    border-radius: 20px;
}

.att_2{
    width: 100px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color:#F5F5F7FF ;
    border-radius: 20px;
}
.att_3{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F5F5F7FF ;
    border-radius: 20px;
}
.att_4{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F5F5F7FF ;
    border-radius: 20px;
}

}



#img{

width: 80px;

}
  }




  .select_modal{
margin: 0 auto;
width:544px ;
height:56px ;
margin-top: 70px;
display: block;
align-items: center;
padding-left: 20px;
line-height: 1.2;
border: 1px solid #D2D2D7FF;
border-radius: 10px;

p{
    font-size: 12px;
    padding-bottom: 3px;
    padding-top: 10px;

}
h5{
    font-size: 20px;
    font-weight: 400;
}
  }

  h6{
    font-size: 20px;
    color: #1d1d1f;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }


  .modal_content_2{
width: 100%;
height: 950px;
margin-top: 50px;
background-color:#F5F5F7FF ;


  }

  .modal_pro{
    width: 656px;
    height: 100px;
    padding-top: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #D2D2D7FF;
    background-color:#F5F5F7FF ;
margin-bottom: 0px;
    .arrow{
        font-family: 'Material Icons';
     font-size: 45px;
     padding-bottom: 48px;
    }

    p{
        font-size:32px ;
        font-weight: 500;
        padding-bottom: 48px;
    }


  }

  .modal_promax{
    width: 656px;
    height: 100px;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #D2D2D7FF;
    background-color:#F5F5F7FF ;
margin-bottom: 0px;
    .arrow{
        font-family: 'Material Icons';
     font-size: 45px;
     padding-bottom: 48px;
    }

    p{
        font-size:32px ;
        font-weight: 500;
        padding-bottom: 48px;
    }

}

.modal_text{
    padding-top: 30px;

padding-left: 80px;
padding-right: 80px;
text-align:left;
p{
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    color: #A4A4A8FF;
}

}


.avatar{

    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
padding-top: 10px;
padding-bottom: 10px;

p{
    font-size: 14px;
    line-height: 1.33337;
    font-weight: 400;
    color:#1d1d1f;
    margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
padding-top: 10px;
}

a{
text-decoration: none;
font-size: 14px;
line-height: 1.33337;
font-weight: 400;
color: #06c;
display: flex;
align-items: center;
justify-content: center;

}


}
.foto_modal{
width: 55px;
height: 55px;margin: 0 auto;
 

    img{
        width: 55px;
        height: 55px;
        border-radius: 55px;
        background-color:#06c;

    }
}